
Assignment 1/.project
Assignment 1/.pydevproject
Assignment 1/.vscode/settings.json
Assignment 1/__pycache__/Connect.cpython-38.pyc
Assignment 1/__pycache__/functions.cpython-38.pyc
Assignment 1/t04.py
Assignment 1/t03.py
Assignment 1/t02.py
Assignment 1/t01.py
